/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

p {
    color: white;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: left;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: grey;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo-container {
    padding: 1rem;
}

/* SECTIONS */

  section {
    padding-top: 16vh;
    height: 96vh;
    margin: 0rem 16rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  .section-container {
    display: flex;
  }

/* HOME SECTION */

#home {
    display: flex;
    justify-content: center;
    position: relative;
}

.section-text {
    position: absolute;
    left: 0rem;
    top: 8rem;
}

.section-text-p1 {
    justify-content: center;
    font-weight: 200;
    font-size: 2rem;
}

.title {
    color: white;
    font-size: 4rem;
}

.section-text-p2 {
    font-size: 3rem;
    font-weight: 500;
}

.profile-photo-container {
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.profile-photo {
    height: 600px;
    width: 600px;
}

/* fade-in animation */

@keyframes fade-in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.fade-in-1 {
    animation: fade-in 3s;
}
.fade-in-2 {
    animation: fade-in 6s;
}
.fade-in-3 {
    animation: fade-in 9s;
}

